.content-card {
	position: relative;
	display: block;
	padding: 2.5rem 1rem;
	background: #fff;
	border-radius: .25rem;
	box-shadow: 0 0 .5rem rgba(0,0,0,.175);
	margin: 1rem;
	color: inherit;
	text-decoration: none;
	transition: .1s linear;
	cursor: pointer;

	&:hover {
		padding: 3.5rem 2rem;
		margin: 0;
		color: #005eb8;

		* {
			color: #005eb8;
		}
	}
}