.fade-in-content {
	opacity: 0;

	&.is-opaque {
		opacity: 1;
		animation: fadeInContent 3s;
	}
}

@keyframes fadeInContent {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
