.sac-list {
	&__tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-right: -.5rem;
		margin-left: -.5rem;
	}

	&__results {
		display: flex;
		flex-wrap: wrap;
		margin-right: -.5rem;
		margin-left: -.5rem;
	}

	&__button {
		padding: 1rem;
		border: 1px solid $gray300;
		background-color: $gray100;
		border: 1px solid $gray300;
		border-radius: .25rem;
		line-height: 1em;
		color: inherit;
		font-family: inherit;
		font-size: 1rem;
		text-align: left;
	}

	&__select {
		height: unset;
		background-color: $gray100;
		background-image: none !important;
		padding: 1rem;
		border: 1px solid $gray300;
		border-radius: .25rem;
		color: inherit;
		line-height: 1em;
		font-size: 1rem;
	}
}
