.sac-card {
	display: block;
	background: $gray100;
	border: 1px solid $gray300;
	padding: .75rem;
	margin-bottom: 1rem;
	color: inherit;
	text-decoration: none;

	&__heading {
		display: flex;
		flex-wrap: wrap;
	}

	&__name {
		flex: 1;
		padding-top: .5rem;
		font-weight: bold;
	}

	&__icons {
		padding-top: .5rem;
	}

	&__icon {
		height: 1.25rem;
	}

	&__details,
	&__waiting {
		font-size: .875rem;
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
		padding-top: .25rem;
	}

	&__dot {
		margin: 0 .5rem;
	}

	&__waiting {
		padding-top: .25rem;
		color: $red;
		font-style: italic;
	}
}
