@import './../01-settings/grid';
@import './../02-tools/grid';

.container,
.container-xs,
.container-sm,
.container-sm-xs,
.container-sm-md,
.container-sm-lg,
.container-sm-xl,
.container-sm-xxl,
.container-md,
.container-md-xs,
.container-md-sm,
.container-md-lg,
.container-md-xl,
.container-md-xxl,
.container-lg,
.container-lg-xs,
.container-lg-sm,
.container-lg-md,
.container-lg-xl,
.container-lg-xxl,
.container-xl,
.container-xl-xs,
.container-xl-sm,
.container-xl-md,
.container-xl-lg,
.container-xl-xxl,
.container-xxl,
.container-xxl-xs,
.container-xxl-sm,
.container-xxl-md,
.container-xxl-lg,
.container-xxl-xl {
	max-width: 100%;
	padding-right: $grid-gutter;
	padding-left: $grid-gutter;
	margin: 0 auto;
}

.container {
	@each $key, $value in $grid-breakpoints {
		@if $value != 0rem {
			&-#{$key} {
				width: $value + ($grid-gutter * 2);
			}
		}
	}

	@each $key, $value in $grid-breakpoints {
		&-#{$key} {
			@media (min-width: $value) {
				@each $key2, $value2 in $grid-breakpoints {
					@if $value2 != 0rem {
						&-#{$key2} {
							width: $value2  + 2rem;
						}
					}
				}
			}
		}
	}
}
