$black: #000;
$blue: #005eb8;
$blue100: #F1F9FF;
$blue200: #D1E4F2;
$blue500: #4BA3E4;
$blue900: #00386d;
$dark-teal: #20556B;
$gold: #FFB500;
$gray: #425563;
$gray100: #f9f9f9;
$gray200: #ccc;
$gray300: #D8D8D8;
$gray500: #798894;
$gray700: #425563;
$red: #C13E2D;
$teal: #0086BF;
$white: #fff;
$yellow: #ffd100;

$colors: (
	'black': $black,
	'blue': $blue,
	'blue100': $blue100,
	'blue200': $blue200,
	'blue500': $blue500,
	'blue900': $blue900,
	'dark-teal': $dark-teal,
	'gold': $gold,
	'gray': $gray,
	'gray100': $gray100,
	'gray200': $gray200,
	'gray300': $gray300,
	'gray500': $gray500,
	'gray700': $gray700,
	'red': $red,
	'teal': $teal,
	'white': $white,
	'yellow': $yellow
);
