.p {
	@include styleAllBreakpoints() {
		@include spacingUnits(padding);
	}
}

.m {
	@include styleAllBreakpoints() {
		@include spacingUnits(margin);
	}
}

.g {
	@include styleAllBreakpoints() {
		&-1 {
			margin-right: -.5rem;
			margin-left: -.5rem;

			& > * {
				padding-right: .5rem;
				padding-left: .5rem;
			}
		}

		&-2 {
			margin-right: -1rem;
			margin-left: -1rem;

			& > * {
				padding-right: 1rem;
				padding-left: 1rem;
			}
		}

		&-3 {
			margin-right: -1.5rem;
			margin-left: -1.5rem;

			& > * {
				padding-right: 1.5rem;
				padding-left: 1.5rem;
			}
		}

		&-4 {
			margin-right: -2rem;
			margin-left: -2rem;

			& > * {
				padding-right: 2rem;
				padding-left: 2rem;
			}
		}
	}
}